<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--第一步：获得连接工厂 -->
    <bean class="org.apache.activemq.jms.pool.PooledConnectionFactory" name="pooledConnectionFactory">

        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">

                <constructor-arg name="userName" value="admin"/>
                <constructor-arg name="password" value="admin"/>
                <constructor-arg name="brokerURL" value="tcp://192.168.180.10:61616"/>

            </bean>

        </property>

        <property name="maxConnections" value="20"/>

        <property name="expiryTimeout" value="30000"/>


    </bean>

    <!--第二步：获得一个支持缓存Session的连接工厂【可选】-->

    <bean class="org.springframework.jms.connection.CachingConnectionFactory" name="cachingConnectionFactory">

        <property name="targetConnectionFactory" ref="pooledConnectionFactory"/>

        <property name="sessionCacheSize" value="5"/>

    </bean>

    <!--第三步：构建JmsTemplate对象-->
    <bean class="org.springframework.jms.core.JmsTemplate" name="jmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>


    </bean>



</beans>