<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean name="mybatisSqlSessionFactoryBean" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        
        <property name="dataSource" ref="dataSource"/>

        <!-- 配置插件 -->
        <property name="plugins">
            <list>
                <!--日志输出插件-->
                <bean class="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
                    <!--<property name="format" value="true"/>-->
                </bean>
                <!--物理分页插件-->
                <bean class="com.baomidou.mybatisplus.plugins.PaginationInterceptor" ></bean>
            </list>
        </property>
        
        
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lin.ego.base.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="mybatisSqlSessionFactoryBean"/>
    </bean>

    <bean  name="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

</beans>